extends page

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li 
		a(href="/edit") Edit
		span(class="divider") /
	li(class="active") Cycle Entry

block content
	form(id="match", method="post")
		-var teamsRegex = "";
		-for (var i = 0; i < teams.length; ++i){
			- teamsRegex = teamsRegex+teams[i]+"|";
		-}
		
		//Preamble
		label(for="team") Team:
		input(name="team", type="text", required="required", pattern=teamsRegex, autofocus="autofocus", value=cycleData.team)
		
		label(for="match") Match:
		input(name="match", type="number", step="1", required="required", min=1, max=maxMatchNumber, value=cycleData.match)
		
		label(for="possession") Posession:
		input(name="posession", type="number", step="1", required="required", min=1, max=maxMatchNumber, value=cycleData.match)
		
		
		//Cycle
		- for (var i = 0; i < cycle.length; ++i){
		label(for=cycle[i]['field'])=cycle[i]['name']+":"
		- if (cycle[i].values){
			- var regexp = "";
			- for (var j = 0; j < cycle[i].values.length; ++j){
				- if(j == 0){
					- regexp = regexp + cycleData[i].values[j];
				-}else{
					- regexp = regexp + "|" + cycleData[i].values[j];
				-}
			-}
			input(name=cycle[i]['field'], type="text", required="required", pattern=regexp, value=cycleData[cycle[i].field])
		- }else{
			input(name=cycle[i]['field'], type="number", step="1", required="required", min=cycle[i]['min'], max=cycle[i]['max'], value=cycleData[cycle[i].field])
		-}
		-}
		
		//Submit
		input(class="btn btn-primary", name="submit", type="submit", value="Submit")