extends page

block scripts
	script(src='/javascripts/edit.js')
block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li(class="active") Edit

block content
	h2(id='schedule') Schedule
	a(href='/edit/schedule/add', class="btn btn-success", id="edit-schedule") Add Match to Schedule
	table(id="schedule-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Match Number
				th Red 1
				th Red 2
				th Red 3
				th Blue 1
				th Blue 2
				th Blue 3
				th Red Score
				th Blue Score
				th Edit
				th Delete
		tbody
			- for (var i = 0; i < schedule.length; ++i){
				tr
					- if (schedule[i].redScore > schedule[i].blueScore){
						td
							a(href="../match/"+schedule[i].match)=schedule[i].match
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].red1)=schedule[i].red1
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].red2)=schedule[i].red2
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].red3)=schedule[i].red3
						td
							a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
						td
							a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
						td
							a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
						td(id="schedule-winner")=schedule[i].redScore
						td=schedule[i].blueScore
						td
							a(class="btn btn-block btn-warning", href='/edit/schedule/'+schedule[i].id) Edit
						td
							a(class="btn btn-block btn-danger", href='/edit/schedule/delete/'+schedule[i].id) Delete
					-} else if (schedule[i].redScore < schedule[i].blueScore){
						td
							a(href="../match/"+schedule[i].match)=schedule[i].match
						td
							a(href="../team/"+schedule[i].red1)=schedule[i].red1
						td
							a(href="../team/"+schedule[i].red2)=schedule[i].red2
						td
							a(href="../team/"+schedule[i].red3)=schedule[i].red3
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].blue1)(id="schedule-winner")=schedule[i].blue1
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
						td=schedule[i].redScore
						td(id="schedule-winner")=schedule[i].blueScore  
						td
							a(class="btn btn-block btn-warning", href='/edit/schedule/'+schedule[i].id) Edit
						td
							a(class="btn btn-block btn-danger", href='/edit/schedule/delete/'+schedule[i].id) Delete
					-} else {
						td
							a(href="../match/"+schedule[i].match)=schedule[i].match
						td
							a(href="../team/"+schedule[i].red1)=schedule[i].red1
						td
							a(href="../team/"+schedule[i].red2)=schedule[i].red2
						td
							a(href="../team/"+schedule[i].red3)=schedule[i].red3
						td
							a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
						td
							a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
						td
							a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
						td=schedule[i].redScore
						td=schedule[i].blueScore
						td
							a(class="btn btn-block btn-warning", href='/edit/schedule/'+schedule[i].id) Edit
						td
							a(class="btn btn-block btn-danger", href='/edit/schedule/delete/'+schedule[i].id) Delete
					-}
			-}
	
	h2(id='match') Match
	a(href='/match-entry', class="btn btn-success", id="edit-schedule") Add Match Scouting Entries
	table(id="match-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team
				th Match
				- for(var i = 0; i < match.auto.length; i++){
				th=match.auto[i]['name']
				- }
				- for(var i = 0; i < match.teleop.length; i++){
				th=match.teleop[i]['name']
				- }
				- for(var i = 0; i < match.endgame.length; i++){
				th=match.endgame[i]['name']
				- }
				- for(var i = 0; i < match.other.length; i++){
				th=match.other[i]['name']
				- }
				th Points Contributed
				th Edit
				th Delete
		tbody
			- for(var i = 0; i < match_data.length; i++){
			- var points = 0;
			tr
				td=match_data[i].team
				td=match_data[i].match
				- for(var j = 0; j < match.auto.length; j++){
				td=match_data[i][match.auto[j]['field']]
					- points = points + match_data[i][match.auto[j]['field']]*match.auto[j]['points'];
				- }
				- for(var j = 0; j < match.teleop.length; j++){
				td=match_data[i][match.teleop[j]['field']]
					- points = points + match_data[i][match.teleop[j]['field']]*match.teleop[j]['points'];
				- }
				- for(var j = 0; j < match.endgame.length; j++){
				td=match_data[i][match.endgame[j]['field']]
					- points = points + match_data[i][match.endgame[j]['field']]*match.endgame[j]['points'];
				- }
				- for(var j = 0; j < match.other.length; j++){
				td=match_data[i][match.other[j]['field']]
					- points = points + match_data[i][match.other[j]['field']]*match.other[j]['points'];
				- }
				td=points
				td
					a(class="btn btn-block btn-warning", href='/edit/match-entry/'+match_data[i].id) Edit
				td
					a(class="btn btn-block btn-danger", href='/edit/match-entry/delete/'+match_data[i].id) Delete
			- }
			- var matchesPlayed = i;
	h2 Pit
	a(href='/pit', class="btn btn-success", id="edit-schedule") Add Pit Scouting Entries
	table(id="pit-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team
				- for(var i = 0; i < pit.length; i++){
				th=pit[i]['name']
				- }
				th Edit
				th Delete
		tbody
			- for(var i = 0; i < pit_data.length; i++){
			tr
				td=pit_data[i].team
				- for(var j = 0; j < pit.length; j++){
				td=pit_data[i][pit[j]['field']]
				- }
				td
					a(class="btn btn-block btn-warning", href='/edit/pit/'+pit_data[i].id) Edit
				td
					a(class="btn btn-block btn-danger", href='/edit/pit/delete/'+pit_data[i].id) Delete
			- }
			- var matchesPlayed = i;