extends page

block scripts
	script(src='/javascripts/edit.js')
block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li(class="active") Edit

block content
	h2(id='schedule') Schedule
	a(href='/edit/schedule/add', class="btn btn-success", id="edit-schedule") Add Match to Schedule
	table(id="schedule-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Match Number
				th Red 1
				th Red 2
				th Red 3
				th Blue 1
				th Blue 2
				th Blue 3
				th Red Score
				th Blue Score
				th Edit
				th Delete
		tbody
			- for (var i = 0; i < scheduleData.length; ++i){
				tr
					- if (scheduleData[i].redScore > scheduleData[i].blueScore){
						td
							a(href="../match/"+scheduleData[i].match)=scheduleData[i].match
						td(id="scheduleData-winner")
							a(href="../team/"+scheduleData[i].red1)=scheduleData[i].red1
						td(id="scheduleData-winner")
							a(href="../team/"+scheduleData[i].red2)=scheduleData[i].red2
						td(id="scheduleData-winner")
							a(href="../team/"+scheduleData[i].red3)=scheduleData[i].red3
						td
							a(href="../team/"+scheduleData[i].blue1)=scheduleData[i].blue1
						td
							a(href="../team/"+scheduleData[i].blue2)=scheduleData[i].blue2
						td
							a(href="../team/"+scheduleData[i].blue3)=scheduleData[i].blue3
						td(id="scheduleData-winner")=scheduleData[i].redScore
						td=scheduleData[i].blueScore
						td
							a(class="btn btn-block btn-warning", href='/edit/schedule/'+scheduleData[i].id) Edit
						td
							a(class="btn btn-block btn-danger", href='/edit/schedule/delete/'+scheduleData[i].id) Delete
					-} else if (scheduleData[i].redScore < scheduleData[i].blueScore){
						td
							a(href="../match/"+scheduleData[i].match)=scheduleData[i].match
						td
							a(href="../team/"+scheduleData[i].red1)=scheduleData[i].red1
						td
							a(href="../team/"+scheduleData[i].red2)=scheduleData[i].red2
						td
							a(href="../team/"+scheduleData[i].red3)=scheduleData[i].red3
						td(id="scheduleData-winner")
							a(href="../team/"+scheduleData[i].blue1)(id="scheduleData-winner")=scheduleData[i].blue1
						td(id="scheduleData-winner")
							a(href="../team/"+scheduleData[i].blue2)=scheduleData[i].blue2
						td(id="scheduleData-winner")
							a(href="../team/"+scheduleData[i].blue3)=scheduleData[i].blue3
						td=scheduleData[i].redScore
						td(id="scheduleData-winner")=scheduleData[i].blueScore  
						td
							a(class="btn btn-block btn-warning", href='/edit/schedule/'+scheduleData[i].id) Edit
						td
							a(class="btn btn-block btn-danger", href='/edit/schedule/delete/'+scheduleData[i].id) Delete
					-} else {
						td
							a(href="../match/"+scheduleData[i].match)=scheduleData[i].match
						td
							a(href="../team/"+scheduleData[i].red1)=scheduleData[i].red1
						td
							a(href="../team/"+scheduleData[i].red2)=scheduleData[i].red2
						td
							a(href="../team/"+scheduleData[i].red3)=scheduleData[i].red3
						td
							a(href="../team/"+scheduleData[i].blue1)=scheduleData[i].blue1
						td
							a(href="../team/"+scheduleData[i].blue2)=scheduleData[i].blue2
						td
							a(href="../team/"+scheduleData[i].blue3)=scheduleData[i].blue3
						td=scheduleData[i].redScore
						td=scheduleData[i].blueScore
						td
							a(class="btn btn-block btn-warning", href='/edit/schedule/'+scheduleData[i].id) Edit
						td
							a(class="btn btn-block btn-danger", href='/edit/schedule/delete/'+scheduleData[i].id) Delete
					-}
			-}
	
	h2(id='auto') Auto
	a(href='/auto-entry', class="btn btn-success", id="edit-auto") Add Auto Scouting Entries
	table(id="auto-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team
				th Match
				- for(var i = 0; i < auto.length; i++){
				th=auto[i]['name']
				- }
				th Edit
				th Delete
		tbody
			- for(var i = 0; i < autoData.length; i++){
			tr
				td=autoData[i].team
				td=autoData[i].match
				- for(var j = 0; j < auto.length; j++){
				td=autoData[i][auto[j]['field']]
				- }
				td
					a(class="btn btn-block btn-warning", href='/edit/auto-entry/'+autoData[i].id) Edit
				td
					a(class="btn btn-block btn-danger", href='/edit/auto-entry/delete/'+autoData[i].id) Delete
			- }
	h2(id='cycle') Cycle
	a(href='/cycle-entry', class="btn btn-success", id="edit-cycle") Add Cycle Scouting Entries
	table(id="cycle-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team
				th Match
				th Possession
				- for(var i = 0; i < cycle.length; i++){
				th=cycle[i]['name']
				- }
				th Edit
				th Delete
		tbody
			- for(var i = 0; i < cycleData.length; i++){
			tr
				td=cycleData[i].team
				td=cycleData[i].match
				td=cycleData[i].possession
				- for(var j = 0; j < cycle.length; j++){
				td=cycleData[i][cycle[j]['field']]
				- }
				td
					a(class="btn btn-block btn-warning", href='/edit/cycle-entry/'+cycleData[i].id) Edit
				td
					a(class="btn btn-block btn-danger", href='/edit/cycle-entry/delete/'+cycleData[i].id) Delete
			- }
	h2 Pit
	a(href='/pit', class="btn btn-success", id="edit-schedule") Add Pit Scouting Entries
	table(id="pit-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Team
				- for(var i = 0; i < pit.length; i++){
				th=pit[i]['name']
				- }
				th Edit
				th Delete
		tbody
			- for(var i = 0; i < pitData.length; i++){
			tr
				td=pitData[i].team
				- for(var j = 0; j < pit.length; j++){
				td=pitData[i][pit[j]['field']]
				- }
				td
					a(class="btn btn-block btn-warning", href='/edit/pit/'+pitData[i].id) Edit
				td
					a(class="btn btn-block btn-danger", href='/edit/pit/delete/'+pitData[i].id) Delete
			- }
			- var matchesPlayed = i;