extends page

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li 
		a(href="/match") Team
		span(class="divider") /
	li(class="active")=number

block content
	- var redpoints = 0; bluepoints = 0;
	h2 Red Alliance
	div(class="row-fluid")
		div(class="span4")
			a(href="/team/"+red1.number)
				h3=red1.number
			a(href="/team/"+red1.number)
				img(src="/pictures/"+red1.number+image[0].suffix+".JPG", class="img-polaroid match-team-image")
			- if(red1.averages){
			- var autopoints = 0, teleoppoints = 0, endgamepoints = 0, otherpoints = 0;
			- for(var i = 0; i < match.auto.length; i++){
				- autopoints = autopoints + Number(red1.averages[match.auto[i].field])*match.auto[i].points;
			- }
			- for(var i = 0; i < match.teleop.length; i++){
				- teleoppoints = teleoppoints + Number(red1.averages[match.teleop[i].field])*match.teleop[i].points;
			- }
			- for(var i = 0; i < match.endgame.length; i++){
				- endgamepoints = endgamepoints + Number(red1.averages[match.endgame[i].field])*match.endgame[i].points;
			- }
			- for(var i = 0; i < match.other.length; i++){
				- otherpoints = otherpoints + Number(red1.averages[match.other[i].field])*match.other[i].points;
			- }
			table(class="table table-striped table-bordered dataTable stats")
				tbody
					tr
						td Auto
						td=autopoints
					tr
						td Teleop
						td=teleoppoints
					tr
						td Endgame
						td=endgamepoints
					tr
						td Other
						td=otherpoints
					tr
						th Total
						td=autopoints+teleoppoints+endgamepoints+otherpoints
						- redpoints += autopoints+teleoppoints+endgamepoints+otherpoints;
			- }else{
			p(class="well stats") No averages have been computed for this team.  Try adding more matches.
			- } 
		div(class="span4")
			a(href="/team/"+red2.number)
				h3=red2.number
			a(href="/team/"+red2.number)
				img(src="/pictures/"+red2.number+image[0].suffix+".JPG", class="img-polaroid match-team-image")
			- if(red2.averages){
			- var autopoints = 0, teleoppoints = 0, endgamepoints = 0, otherpoints = 0;
			- for(var i = 0; i < match.auto.length; i++){
				- autopoints = autopoints + Number(red2.averages[match.auto[i].field])*match.auto[i].points;
			- }
			- for(var i = 0; i < match.teleop.length; i++){
				- teleoppoints = teleoppoints + Number(red2.averages[match.teleop[i].field])*match.teleop[i].points;
			- }
			- for(var i = 0; i < match.endgame.length; i++){
				- endgamepoints = endgamepoints + Number(red2.averages[match.endgame[i].field])*match.endgame[i].points;
			- }
			- for(var i = 0; i < match.other.length; i++){
				- otherpoints = otherpoints + Number(red2.averages[match.other[i].field])*match.other[i].points;
			- }
			table(class="table table-striped table-bordered dataTable stats")
				tbody
					tr
						td Auto
						td=autopoints
					tr
						td Teleop
						td=teleoppoints
					tr
						td Endgame
						td=endgamepoints
					tr
						td Other
						td=otherpoints
					tr
						th Total
						td=autopoints+teleoppoints+endgamepoints+otherpoints
						- redpoints += autopoints+teleoppoints+endgamepoints+otherpoints;
			- }else{
			p(class="well stats") No averages have been computed for this team.  Try adding more matches.
			- } 
		div(class="span4")
			a(href="/team/"+red3.number)
				h3=red3.number
			a(href="/team/"+red3.number)
				img(src="/pictures/"+red3.number+image[0].suffix+".JPG", class="img-polaroid match-team-image")
			- if(red3.averages){
			- var autopoints = 0, teleoppoints = 0, endgamepoints = 0, otherpoints = 0;
			- for(var i = 0; i < match.auto.length; i++){
				- autopoints = autopoints + Number(red3.averages[match.auto[i].field])*match.auto[i].points;
			- }
			- for(var i = 0; i < match.teleop.length; i++){
				- teleoppoints = teleoppoints + Number(red3.averages[match.teleop[i].field])*match.teleop[i].points;
			- }
			- for(var i = 0; i < match.endgame.length; i++){
				- endgamepoints = endgamepoints + Number(red3.averages[match.endgame[i].field])*match.endgame[i].points;
			- }
			- for(var i = 0; i < match.other.length; i++){
				- otherpoints = otherpoints + Number(red3.averages[match.other[i].field])*match.other[i].points;
			- }
			table(class="table table-striped table-bordered dataTable stats")
				tbody
					tr
						td Auto
						td=autopoints
					tr
						td Teleop
						td=teleoppoints
					tr
						td Endgame
						td=endgamepoints
					tr
						td Other
						td=otherpoints
					tr
						th Total
						td=autopoints+teleoppoints+endgamepoints+otherpoints
						- redpoints += autopoints+teleoppoints+endgamepoints+otherpoints;
			- }else{
			p(class="well stats") No averages have been computed for this team.  Try adding more matches.
			- }
	h2 Blue Alliance
	div(class="row-fluid")
		div(class="span4")
			a(href="/team/"+blue1.number)
				h3=blue1.number
			a(href="/team/"+blue1.number)
				img(src="/pictures/"+blue1.number+image[0].suffix+".JPG", class="img-polaroid match-team-image")
			- if(blue1.averages){
			- var autopoints = 0, teleoppoints = 0, endgamepoints = 0, otherpoints = 0;
			- for(var i = 0; i < match.auto.length; i++){
				- autopoints = autopoints + Number(blue1.averages[match.auto[i].field])*match.auto[i].points;
			- }
			- for(var i = 0; i < match.teleop.length; i++){
				- teleoppoints = teleoppoints + Number(blue1.averages[match.teleop[i].field])*match.teleop[i].points;
			- }
			- for(var i = 0; i < match.endgame.length; i++){
				- endgamepoints = endgamepoints + Number(blue1.averages[match.endgame[i].field])*match.endgame[i].points;
			- }
			- for(var i = 0; i < match.other.length; i++){
				- otherpoints = otherpoints + Number(blue1.averages[match.other[i].field])*match.other[i].points;
			- }
			table(class="table table-striped table-bordered dataTable stats")
				tbody
					tr
						td Auto
						td=autopoints
					tr
						td Teleop
						td=teleoppoints
					tr
						td Endgame
						td=endgamepoints
					tr
						td Other
						td=otherpoints
					tr
						th Total
						td=autopoints+teleoppoints+endgamepoints+otherpoints
						- bluepoints += autopoints+teleoppoints+endgamepoints+otherpoints;
			- }else{
			p(class="well stats") No averages have been computed for this team.  Try adding more matches.
			- } 
		div(class="span4")
			a(href="/teams/"+blue2.number)
				h3=blue2.number
			a(href="/team/"+blue2.number)
				img(src="/pictures/"+blue2.number+image[0].suffix+".JPG", class="img-polaroid match-team-image")
			- if(blue2.averages){
			- var autopoints = 0, teleoppoints = 0, endgamepoints = 0, otherpoints = 0;
			- for(var i = 0; i < match.auto.length; i++){
				- autopoints = autopoints + Number(blue2.averages[match.auto[i].field])*match.auto[i].points;
			- }
			- for(var i = 0; i < match.teleop.length; i++){
				- teleoppoints = teleoppoints + Number(blue2.averages[match.teleop[i].field])*match.teleop[i].points;
			- }
			- for(var i = 0; i < match.endgame.length; i++){
				- endgamepoints = endgamepoints + Number(blue2.averages[match.endgame[i].field])*match.endgame[i].points;
			- }
			- for(var i = 0; i < match.other.length; i++){
				- otherpoints = otherpoints + Number(blue2.averages[match.other[i].field])*match.other[i].points;
			- }
			table(class="table table-striped table-bordered dataTable stats")
				tbody
					tr
						td Auto
						td=autopoints
					tr
						td Teleop
						td=teleoppoints
					tr
						td Endgame
						td=endgamepoints
					tr
						td Other
						td=otherpoints
					tr
						th Total
						td=autopoints+teleoppoints+endgamepoints+otherpoints
						- bluepoints += autopoints+teleoppoints+endgamepoints+otherpoints;
			- }else{
			p(class="well stats") No averages have been computed for this team.  Try adding more matches.
			- } 
		div(class="span4")
			a(href="/team/"+blue3.number)
				h3=blue3.number
			a(href="/team/"+blue3.number)
				img(src="/pictures/"+blue3.number+image[0].suffix+".JPG", class="img-polaroid match-team-image")
			- if(blue3.averages){
			- var autopoints = 0, teleoppoints = 0, endgamepoints = 0, otherpoints = 0;
			- for(var i = 0; i < match.auto.length; i++){
				- autopoints = autopoints + Number(blue3.averages[match.auto[i].field])*match.auto[i].points;
			- }
			- for(var i = 0; i < match.teleop.length; i++){
				- teleoppoints = teleoppoints + Number(blue3.averages[match.teleop[i].field])*match.teleop[i].points;
			- }
			- for(var i = 0; i < match.endgame.length; i++){
				- endgamepoints = endgamepoints + Number(blue3.averages[match.endgame[i].field])*match.endgame[i].points;
			- }
			- for(var i = 0; i < match.other.length; i++){
				- otherpoints = otherpoints + Number(blue3.averages[match.other[i].field])*match.other[i].points;
			- }
			table(class="table table-striped table-bordered dataTable stats")
				tbody
					tr
						td Auto
						td=autopoints
					tr
						td Teleop
						td=teleoppoints
					tr
						td Endgame
						td=endgamepoints
					tr
						td Other
						td=otherpoints
					tr
						th Total
						td=autopoints+teleoppoints+endgamepoints+otherpoints
						- bluepoints += autopoints+teleoppoints+endgamepoints+otherpoints;
			- }else{
			p(class="well stats") No averages have been computed for this team.  Try adding more matches.
			- } 