extends page

block body
	h1 Match Data Entry
	form(id="match", method="post", data-validate="parsley")
		- for (var i = 0; i < match.length; ++i){
		label(for=match[i]['field'])=match[i]['name']+":"
		- if (match[i]['values']){
			- var regexp = "";
			- for (var j = 0; j < match[i]['values'].length; ++j){
				- if(j == 0){
					- regexp = regexp + match[i]['values'][j];
				-}else{
					- regexp = regexp + "|" + match[i]['values'][j];
				-}
			-}
			- if(i == 0){
			input(name=match[i]['field'], type="text", data-trigger="keyup", data-required="true", data-regexp=regexp, autofocus="autofocus")
			- }else{
			input(name=match[i]['field'], type="text", data-trigger="keyup", data-required="true", data-regexp=regexp)
			- }
		- }else{
			- if(i == 0){
			input(name=match[i]['field'], type="text", data-trigger="keyup", data-required="true", data-min=match[i]['min'], data-max=match[i]['max'], autofocus="autofocus")
			-} else {
			input(name=match[i]['field'], type="text", data-trigger="keyup", data-required="true", data-min=match[i]['min'], data-max=match[i]['max'])
			- }
		-}
		-}
		input(name="submit", type="submit", value="Submit")