extends page

block scripts
		script(src='/javascripts/schedule-table.js')

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li(class="active") Schedule

block content
	table(id="schedule", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Match Number
				th Red 1
				th Red 2
				th Red 3
				th Blue 1
				th Blue 2
				th Blue 3
				th Red Score
				th Blue Score
		tbody
			- for (var i = 0; i < schedule.length; ++i){
				tr
					- if (schedule[i].redScore > schedule[i].blueScore){
						td
							a(href="../match/"+schedule[i].match)=schedule[i].match
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].red1)=schedule[i].red1
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].red2)=schedule[i].red2
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].red3)=schedule[i].red3
						td
							a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
						td
							a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
						td
							a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
						td(id="schedule-winner")=schedule[i].redScore
						td=schedule[i].blueScore			
					-} else if (schedule[i].redScore < schedule[i].blueScore){
						td
							a(href="../match/"+schedule[i].match)=schedule[i].match
						td
							a(href="../team/"+schedule[i].red1)=schedule[i].red1
						td
							a(href="../team/"+schedule[i].red2)=schedule[i].red2
						td
							a(href="../team/"+schedule[i].red3)=schedule[i].red3
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].blue1)(id="schedule-winner")=schedule[i].blue1
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
						td(id="schedule-winner")
							a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
						td=schedule[i].redScore
						td(id="schedule-winner")=schedule[i].blueScore  
					-} else {
						td
							a(href="../match/"+schedule[i].match)=schedule[i].match
						td
							a(href="../team/"+schedule[i].red1)=schedule[i].red1
						td
							a(href="../team/"+schedule[i].red2)=schedule[i].red2
						td
							a(href="../team/"+schedule[i].red3)=schedule[i].red3
						td
							a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
						td
							a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
						td
							a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
						td=schedule[i].redScore
						td=schedule[i].blueScore
					-}
			-}
	a(href='/edit#Schedule', class="btn btn-green", id="edit-schedule") Edit Schedule