extends page

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li
		a(href='/edit') Edit
		span(class="divider") /
	li 
		a(href="/schedule") Schedule
		span(class="divider") /
	
	li(class="active")=schedule.id

block content
	form(id="schedule", method="post")
		-var teamsRegex = "";
		-for (var i = 0; i < teams.length; ++i){
			- teamsRegex = teamsRegex+teams[i]+"|";
		-}
		
		label(for="match") Match:
		input(name="match", type="number", step="1", required="required", min=1, max=maxMatchNumber, autofocus="autofocus", placeholder=schedule.match)
		
		label(for="red1") Red 1:
		input(name="red1", type="text", required="required", pattern=teamsRegex, placeholder=schedule.red1)
		
		label(for="red2") Red 2:
		input(name="red2", type="text", required="required", pattern=teamsRegex, placeholder=schedule.red2)
		
		label(for="red3") Red 3:
		input(name="red3", type="text", required="required", pattern=teamsRegex, placeholder=schedule.red3)
		
		label(for="blue1") Blue 1:
		input(name="blue1", type="text", required="required", pattern=teamsRegex, placeholder=schedule.blue1)
		
		label(for="blue2") Blue 2:
		input(name="blue2", type="text", required="required", pattern=teamsRegex, placeholder=schedule.blue2)
		
		label(for="blue1") Blue 3:
		input(name="blue3", type="text", required="required", pattern=teamsRegex, placeholder=schedule.blue3)
		
		label(for="redScore") Red Score:
		input(name="redScore", type="number", step="1", min=0, max=300, placeholder=schedule.redScore)
		
		label(for="blueScore") Blue Score:
		input(name="blueScore", type="number", step="1", min=0, max=300, placeholder=schedule.blueScore)
		
		
		//Submit
		input(class="btn btn-primary", name="submit", type="submit", value="Submit")