extends page

block head

block body
	h1="Team "+number

	div(id="split-content")
		div(id="left-panel")
			div(data-role="collapsible", data-collapsed="false", data-content-theme="d")
				h2 Schedule
				table(id="schedule", data-role="table", data-mode="columntoggle", class="ui-responsive table-stroke")
					thead
						tr
							th Match Number
							th(data-priority="1") Red 1
							th(data-priority="2") Red 2
							th(data-priority="3") Red 3
							th(data-priority="4") Blue 1
							th(data-priority="5") Blue 2
							th(data-priority="6") Blue 3
							th(data-priority="5") Red Score
							th(data-priority="6") Blue Score
					tbody
						- for (var i = 0; i < schedule.length; ++i){
							tr
								- if (schedule[i].redScore > schedule[i].blueScore){
									td
										a(href="../match/"+schedule[i].match)=schedule[i].match
									td(id="schedule-winner")
										a(href="../team/"+schedule[i].red1)=schedule[i].red1
									td(id="schedule-winner")
										a(href="../team/"+schedule[i].red2)=schedule[i].red2
									td(id="schedule-winner")
										a(href="../team/"+schedule[i].red3)=schedule[i].red3
									td
										a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
									td
										a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
									td
										a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
									td(id="schedule-winner")=schedule[i].redScore
									td=schedule[i].blueScore			
								-} else if (schedule[i].redScore < schedule[i].blueScore){
									td
										a(href="../match/"+schedule[i].match)=schedule[i].match
									td
										a(href="../team/"+schedule[i].red1)=schedule[i].red1
									td
										a(href="../team/"+schedule[i].red2)=schedule[i].red2
									td
										a(href="../team/"+schedule[i].red3)=schedule[i].red3
									td(id="schedule-winner")
										a(href="../team/"+schedule[i].blue1)(id="schedule-winner")=schedule[i].blue1
									td(id="schedule-winner")
										a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
									td(id="schedule-winner")
										a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
									td=schedule[i].redScore
									td(id="schedule-winner")=schedule[i].blueScore  
								-} else {
									td
										a(href="../match/"+schedule[i].match)=schedule[i].match
									td
										a(href="../team/"+schedule[i].red1)=schedule[i].red1
									td
										a(href="../team/"+schedule[i].red2)=schedule[i].red2
									td
										a(href="../team/"+schedule[i].red3)=schedule[i].red3
									td
										a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
									td
										a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
									td
										a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
									td=schedule[i].redScore
									td=schedule[i].blueScore
								-}

						-}
		div(id="right-panel")
			div(data-role="collapsible-set", data-theme="c", data-content-theme="d")
				- for(var i = 0; i < image.length; ++i) {
				- if(i == 0) {
				div(data-role="collapsible", data-collapsed="false")
					h3=image[i]['name']
					img(id="robot-picture", src="http://www.sik.team20.com/images/2013/"+number+image[i]['suffix']+".JPG")
				- } else {
				div(data-role="collapsible")
					h3=image[i]['name']
					img(id="robot-picture", src="http://www.sik.team20.com/images/2013/"+number+image[i]['suffix']+".JPG")
				- }
				- }
	
	div(data-role="collapsible", data-collapsed="false", style="clear:both")
		h2 Match Scouting Data
		- if(match_data == null) {
		p No match data is available yet for this team.
		- } else {
		div(data-role="collapsible", data-collapsed="false")
			h3 Summary Statistics
			div(data-role="collapsible", data-content-theme="d", data-collapsed="false")
				h3 Averages 
				table(id="average", data-role="table", data-mode="columntoggle", class="ui-responsive table-stroke")
					thead
						tr
							- for(var i = 0; i < match.length; i++){
							th(data-priority=i+1)=match[i]['name']
							- }
							th(data-priority=i+2) Points Contributed
					tbody
						tr
						- for(var j = 0; j < match.length; ++j) {
							-if(match[j]['average']){
							td=Math.round(match_averages[match[j]['field']]*100)/100
							-}else{
							td 
							-}
						- }
							td=Math.round(points_average*100)/100
			div(data-role="collapsible", data-collapsed="true", data-content-theme="d")
				h3 Standard Deviation
				table(id="average", data-role="table", data-mode="columntoggle", class="ui-responsive table-stroke")
					thead
						tr
							- for(var i = 0; i < match.length; i++){
							th(data-priority=i+1)=match[i]['name']
							- }
							th(data-priority=i+2) Points Contributed
					tbody
						tr
						- for(var j = 0; j < match.length; ++j) {
							-if(match[j]['stddev']){
							td=Math.round(match_stddevs[match[j]['field']]*100)/100
							-}else{
							td 
							-}
						- }
							td=Math.round(points_stddev*100)/100
			div(data-role="collapsible", data-collapsed="true", data-content-theme="d")
				h3 Consistency/Expected Elimination Performance
				table(id="average", data-role="table", data-mode="columntoggle", class="ui-responsive table-stroke")
					thead
						tr
							- for(var i = 0; i < match.length; i++){
							th(data-priority=i+1)=match[i]['name']
							- }
							th(data-priority=i+2) Points Contributed
					tbody
						tr
						- for(var j = 0; j < match.length; ++j) {
							-if(match[j]['stddev'] && match[j]['average']){
							td=Math.round((match_averages[match[j]['field']]+(-.44*match_stddevs[match[j]['field']]))*100)/100
							-}else{
							td 
							-}
						- }
							td=Math.round((points_average+(-.44*points_stddev))*100)/100
		div(data-role="collapsible", data-content-theme="d")
			h3 Individual Matches
			table(id="match", data-role="table", data-mode="columntoggle", class="ui-responsive table-stroke")
				thead
					tr
						- for(var i = 0; i < match.length; i++){
						th(data-priority=i+1)=match[i]['name']
						- }
						th(data-priority=i+2) Points Contributed
				tbody
				- for(var i = 0; i < match_data.length; ++i){
					- var points = 0;
					tr
						- for(var j = 0; j < match.length; ++j) {
						td=match_data[i][match[j]['field']]
							- points = points + match_data[i][match[j]['field']]*match[j]['points'];
						- }
						td=points
				- }
				- var matchesPlayed = i;
			div(data-role="collapsible", data-collapsed="false", style="clear:both")
		-}

	div(data-role="collapsible", data-collapsed="false", style="clear:both")
		h2 Pit Scouting Data
		- if (pit_data == null) {
			p No pit data is available yet for this team.
		- } else {
			- for(var i = 0; i < pit.length; ++i) {
				div(data-role="collapsible", data-content-theme="d")
					h4=pit[i]['name']
					p=pit_data[pit[i]['field']]
			- }
		- }