extends page-full

block scripts
	//script(src='/javascripts/schedule-table.js')
	//script(src='/javascripts/image-carousel.js')
	script(src='/javascripts/team.js')

block header
	li 
		a(href="/") Gemini Scouting System
		span(class="divider") /
	li 
		a(href="/team") Team
		span(class="divider") /
	li(class="active")=number

block sidebar
	ul(id="sidebar-nav", class='nav nav-tabs nav-stacked affix')
		li
			a(href='#images') Images
		li
			a(href='#overview') Overview
		li
			a(href='#schedule') Schedule
		li
			a(href='#match-scouting') Match Scouting Data
		li
			a(href='#videos') Videos
		li
			a(href='#pit-scouting') Pit Scouting Data

block content
	h1=number

	h2(id='images') Images
	div(id="robot-pictures-carousel",class="carousel slide")
		//Carousel items
		div(class="carousel-inner")
			//div(class="active item")
				img(id="robot-picture", src="/pictures/"+number+".JPG")
				div(class="carousel-caption")
					p Overview
			- for(var i = 0; i < image.length; ++i) {
			- if (i == 0){
			div(class="active item")
				img(id="robot-picture", src="/pictures/"+number+image[i]['suffix']+".JPG")
				div(class="carousel-caption")
					p=image[i]['name']
			- }else{
			div(class="item")
				img(id="robot-picture", src="/pictures/"+number+image[i]['suffix']+".JPG")
				div(class="carousel-caption")
					p=image[i]['name']
			- }
			- }
		//Carousel nav
		a(class="carousel-control left",href="#robot-pictures-carousel",data-slide="prev", onclick="pause()") &lsaquo;
		a(class="carousel-control right",href="#robot-pictures-carousel",data-slide="next", onclick="pause()") &rsaquo;
	
	h2(id='overview') Overview
	table(id="overview-table", class="table table-striped table-bordered")
		tbody
			- for(var i = 0; i < overview.length; i++){
			tr
				th=overview[i].name
				td=overviewData[overview[i].field]
			-}
	
	h2(id="schedule") Schedule
	table(id="schedule-table", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Match Number
				th(data-priority="1") Red 1
				th(data-priority="2") Red 2
				th(data-priority="3") Red 3
				th(data-priority="4") Blue 1
				th(data-priority="5") Blue 2
				th(data-priority="6") Blue 3
				th(data-priority="5") Red Score
				th(data-priority="6") Blue Score
		tbody
			- for (var i = 0; i < schedule.length; ++i){
			tr
				-if (schedule[i].redScore > schedule[i].blueScore){
				td
					a(href="../match/"+schedule[i].match)=schedule[i].match
				td(id="schedule-winner")
					a(href="../team/"+schedule[i].red1)=schedule[i].red1
				td(id="schedule-winner")
					a(href="../team/"+schedule[i].red2)=schedule[i].red2
				td(id="schedule-winner")
					a(href="../team/"+schedule[i].red3)=schedule[i].red3
				td
					a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
				td
					a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
				td
					a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
				td(id="schedule-winner")=schedule[i].redScore
				td=schedule[i].blueScore			
				-} else if (schedule[i].redScore < schedule[i].blueScore){
				td
					a(href="../match/"+schedule[i].match)=schedule[i].match
				td
					a(href="../team/"+schedule[i].red1)=schedule[i].red1
				td
					a(href="../team/"+schedule[i].red2)=schedule[i].red2
				td
					a(href="../team/"+schedule[i].red3)=schedule[i].red3
				td(id="schedule-winner")
					a(href="../team/"+schedule[i].blue1)(id="schedule-winner")=schedule[i].blue1
				td(id="schedule-winner")
					a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
				td(id="schedule-winner")
					a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
				td=schedule[i].redScore
				td(id="schedule-winner")=schedule[i].blueScore  
				-} else {
				td
					a(href="../match/"+schedule[i].match)=schedule[i].match
				td
						a(href="../team/"+schedule[i].red1)=schedule[i].red1
				td
					a(href="../team/"+schedule[i].red2)=schedule[i].red2
				td
					a(href="../team/"+schedule[i].red3)=schedule[i].red3
				td
					a(href="../team/"+schedule[i].blue1)=schedule[i].blue1
				td
					a(href="../team/"+schedule[i].blue2)=schedule[i].blue2
				td
					a(href="../team/"+schedule[i].blue3)=schedule[i].blue3
				td=schedule[i].redScore
				td=schedule[i].blueScore
				-}
			-}
	
	h2(id='match-scouting') Match Scouting Data
	- if(plugins){
	h3 Plugins
	table(id="plugins", class="table table-striped table-bordered dataTable")
		thead
			tr
				- for(var i = 0; i < plugins.length; i++){
				th=plugins[i]['name']
				- }
		tbody
			tr
				- for(var i = 0; i < plugins.length; i++){
				td=pluginsData[plugins[i].name]
				- }
	-}
		
	h3 Individual Matches
	
	h4 Auto
	-if(autoData[0]){
	table(id="auto-individual", class="table table-striped table-bordered dataTable")
		thead
			tr
				th Match
				- for(var i = 0; i < auto.length; i++){
				th=auto[i]['name']
				- }
		tbody
			- for(var i = 0; i < autoData.length; i++){
			tr
				td
					a(href='/match/'+autoData[i].match)=autoData[i].match
				- for(var j = 0; j < auto.length; j++){
				td=autoData[i][auto[j]['field']]
				- }
			- }
	-}else{
	div(class='well')
		p There are no auto entries for this team yet.  Click 
			a(href='/auto-entry') here to add an entry.
	-}
	
	h4 Teleop Posessions
	-if(cycleData[0]){
	table(id="cycle-individual", class="table table-striped table-bordered table-hover dataTable")
		thead
			tr
				th Match
				th Possession
				- for(var i = 0; i < cycle.length; i++){
				th=cycle[i]['name']
				- }
		tbody
			- for(var i = 0; i < cycleData.length; i++){
			tr
				td
					a(href='/match/'+cycleData[i].match)=cycleData[i].match
				td=cycleData[i].possession
				- for(var j = 0; j < cycle.length; j++){
				td=cycleData[i][cycle[j]['field']]
				- }
			- }
	-}else{
	div(class='well')
		p There are no cycle entries for this team yet.  Check back later, or 
			a(href='/cycle-entry') add an entry.
	-}
	
	h2(id='videos') Videos
	- for(var i = 0; i < schedule.length; i++){
	h3
		a(href="/match/"+schedule[i].match)="Match "+schedule[i].match
	video(class="match-video" controls)
		source(src="/videos/"+schedule[i].match+".mp4" type="video/mp4")
	- }

	
	h2(id="pit-scouting") Pit Scouting Data
	- if (pitData == null || pitData[0] == null) {
		div(class="well")
			p No pit data is available yet for this team.  Wanna 
				a(href='/pit') add an entry?
	- } else {
		- for(var i = 0; i < pit.length; ++i) {
		div(class="well")
			h4=pit[i]['name']
			-if(pitData[0][pit[i]['field']]){
			p=pitData[0][pit[i]['field']]
			-}else{
			p
			-}
		- }
	- }